* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #1f2937;
  font-size: 18px;
  color: #e5e7eb;
  height: 380px;
}

.header h2 {
  font-size: 24px;
  color: #f9faf8;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  margin: auto;
}
a {
  text-decoration: none;
  color: #e5e7eb;
  margin: 5px;
}

.top {
  display: flex;
  height: 200px;
  flex-wrap: wrap;
  flex-direction: column;
  width: 400px;
  margin: 0 90px;
  gap: 10px;
  margin-top: 20px;
  margin-left: 200px;
}

button {
  color: whitesmoke;
  background-color: #3882f6;
  width: 80px;
  border-radius: 5px;
  height: 25px;
  border: #3882f6;
}

.website_info {
  display: flex;
  justify-content: space-between;
  flex: 1;
  gap: 50px;
  height: 300px;
}
.placeholder {
  display: flex;
  margin-top: 20px;
  height: 225px;
  width: 500px;
  background-color: grey;

  margin-right: 450px;
  justify-content: center;
  align-items: center;
}
.list {
  margin-right: 200px;
}
.margin {
  margin-left: 150px;
}
.text_head {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  text-align: center;
  margin: 20px 0px;
}
.box {
  border: #3882f6 5px solid;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.replace {
  width: 200px;
  flex-wrap: wrap;
}
.info {
  text-align: center;
}
.images {
  display: flex;
  justify-content: center;
  gap: 52px;
  margin: 34px 0;
}
